{% extends "base.html" %}
{% block title %}
    42 Coffee Cups Test Assignment
{% endblock title %}
{% block content %}
    <div class="header"><h1>42 Coffee Cups Test Assignment.</h1></div>

    <div class="content">

        {% if user.is_authenticated %}
            <a href="{% url "main:edit" object.pk %}">Edit this page</a>
        {% endif %}

        <span class="user_auth">
            {% if user.is_authenticated %}
                Logged as <b>{{ user.username }}</b>. <a href="{% url "logout" %}">Logout</a>
            {% else %}
                <a href="{% url "login" %}">Login</a>
            {% endif %}
        </span>

        <div style="clear: both;"></div>

        <table class="human_info">
            <tr>
                <th></th>
                <th>Contacts</th>
            </tr>
            <tr>
                <td>
                    <dl>
                        <dt>Name:</dt>
                        <dd>{{ object.name }}</dd>
                    </dl>
                    <dl>
                        <dt>Last name:</dt>
                        <dd>{{ object.surname }}</dd>
                    </dl>
                    <dl>
                        <dt>Date of birth:</dt>
                        <dd>{{ object.birth_date }}</dd>
                    </dl>
                    <dl>
                        <dt>Photo:</dt>
                    </dl>
                    <dl>
                        {% if object.photo %}
                        <img class="photo" src="{{ object.photo.url }}" alt="photo"/>
                        {% endif %}
                    </dl>
                </td>
                <td>
                    <dl>
                        <dt>Email:</dt>
                        <dd>{{ object.email }}</dd>
                    </dl>
                    <dl>
                        <dt>Jabber:</dt>
                        <dd>{{ object.jabber }}</dd>
                    </dl>
                    <dl>
                        <dt>Skype:</dt>
                        <dd>{{ object.skype }}</dd>
                    </dl>
                    <dl>
                        <dt>Other contacts:</dt>
                        <dd>{{ object.other_contacts }}</dd>
                    </dl>
                    <dl>
                        <dt>Bio:</dt>
                        <dd>{{ object.bio }}</dd>
                    </dl>
                </td>
            </tr>
        </table>

        <hr>
        <a href="{% url "main:requests-list" %}">requests</a>

    </div>

{% endblock content %}
