{% extends "base.html" %}

{% block head %}{% if user.is_authenticated %}{% load inplace_edit %}{% inplace_static %}{% endif %}{% endblock head%}

{% block title %}
    42 Coffee Cups Test Assignment
{% endblock title %}

{% block content %}
    <div class="header">
        <h1>First 10 http requests that are stored by middleware.</h1>
    </div>

    <table class="requests">
        <tr>
            <th><a href="{{ sort.timestamp.href }}">timestamp</a>{% if sort.timestamp.class %}
                <span class="{{ sort.timestamp.class }}"></span>{% endif %}</th>
            <th><a href="{{ sort.priority.href }}">priority</a>{% if sort.priority.class %}
                <span class="{{ sort.priority.class }}"></span>{% endif %}</th>
            <th>path</th>
            <th>path_info</th>
            <th>method</th>
            <th>encoding</th>
            <th>GET</th>
            <th>POST</th>
            <th>COOKIES</th>
            <th>FILES</th>
            <th>META</th>
            <th>user</th>
            <th>session</th>
        </tr>
        {% for item in object_list %}
            <tr>
                <td>{{ item.timestamp|time:"H:i:s.u" }}
                <br/>{{ item.timestamp|date:"d.m.Y" }}</td>
                {% if user.is_authenticated %}
                    <td class="priority">{% inplace_edit "item.priority|safe" %}</td>
                {% else %}
                    <td>{{ item.priority }}</td>
                {% endif %}

                <td>{{ item.path|linebreaks }}</td>
                <td>{{ item.path_info|linebreaks }}</td>
                <td>{{ item.method|linebreaks }}</td>
                <td>{{ item.encoding|linebreaks }}</td>
                <td>{{ item.GET|linebreaks }}</td>
                <td>{{ item.POST|linebreaks }}</td>
                <td>{{ item.COOKIES|linebreaks }}</td>
                <td>{{ item.FILES|linebreaks }}</td>
                <td>{{ item.META|linebreaks }}</td>
                <td>{{ item.user }}</td>
                <td>{{ item.session|linebreaks }}</td>
            </tr>
        {% endfor %}
    </table>


{% endblock content %}
