{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}No title{% endblock %}</title>

    <link rel='stylesheet' type='text/css' href="{% static "css/main.css" %}">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    {% if form.media %}
        {{ form.media }}
        <script src="{% static "js/jquery.form.min.js" %}"></script>
    {% endif %}

</head>
<body>
{% block body %}{% block content %}{% endblock content %}{% endblock body %}
</body>
</html>
